.thumbnail {
	border: 1px solid #000;
}

ul.thumb li hover .mask {
	-webkit-transform:scale(1.1);
}

.thumbContainer {
	width: 273px;
	height: 293px;
	display: block;
	overflow: hidden;
}

.mask {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	poistion: absolute;
	/*backkground: ;*/
	left: 0;
	top: 0;
	width: 273px;
	height: 293px;
	z-index: 999;
}

.thumbContainer img {
	position: absolute;
	left: 1px;
	top: 1px;
	width: 271px;
	height: 291px;
	z-index: 990;
}
/*.testdiv{
	border: 1px solid #000;
	width: 50px;
	height: 50px;
}*/