* {
	margin: 0;
	padding: 0;
}

.messageWindow {
	position: relative;
	border: 1px solid #000;
	min-width: 320px;
	width: 100%;
	margin: 0 auto;
	/*overflow: auto;*/
/*	overflow-x: hidden;
	overflow-y: scroll;*/
}

#chatHeader {
	position: absolute;
	background-image: -moz-linear-gradient(90deg, rgb(25,35,40), rgb(20,20,24));
	background-image: -webkit-linear-gradient(90deg, rgb(25,35,40), rgb(20,20,24));
	/*background-image: -o-linear-gradient(90deg, rgb(0,0,0), rgb(70,70,70));
	background-image: linear-gradient(90deg, rgb(0,0,0), rgb(70,70,70));*/
	width: 100%;
	height: 60px;
	top: 0;
	left: 0;
}

#chatHeader p {
	color: #fff;
	font: bold 1em "Orbitron-Light", Arial, sans-serif;
	text-align: center;
	margin-top: 20px;
}

.topBar {
	position: relative;
	/*background-color: #872277;*/
	/*background-color: #04376C;*/
	background-color: #332E2D;
/*	-webkit-border-radius: 0 20px 0 0;
	-o-border-radius: 0 20px 0 0;
	-ms-border-radius:  0 20px 0 0;
	border-radius: 0 20px 0 0;*/
	/*background-image: -o-linear-gradient(90deg, rgb(0,0,0), rgb(70,70,70));
	background-image: linear-gradient(90deg, rgb(0,0,0), rgb(70,70,70));*/


	/*border-bottom: 1px solid #000;*/
	width: 100%;
	height: 30px;
	display: block;
}

.bottomBar {
	bottom: 0;
	width: 100%;
}

.bottomBar hr {
	position: absolute;
	bottom: 0;
	clear: both; 
	float: none; 
	width: 100%; 
	height: 2px;
	border: none; 
	background: #654634;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.5, rgb(126,125,124)),
		color-stop(0.5, rgb(168,167,165))
	);
	background-image: -moz-linear-gradient(
		center top,
		rgb(126,125,124) 50%,
		rgb(168,167,165) 50%
	);
}

.messagesArea {
	width: 100%;
	margin-top: 60px;
	background-color: #192328;
/*	overflow-x: hidden;
	overflow-y: scroll;*/
	margin-bottom: 20px;
}

section.message {
	position: relative;
	min-width: 300px;
	width: 97%;
	height: auto;
	margin: 0 auto;
	/*background-color: #654634;*/
	/*background-color: #750062;*/
	/*background-color: #04376C;*/
	background-color: #332E2D;
	/*background-color: #872277;*/
	overflow: auto;
	border-left: 1% solid #192328;
	border-right: 1% solid #192328;

/*	-webkit-border-radius: 0 20px 20px 20px;
	-o-border-radius: 0px 20px 20px 20px;
	-ms-border-radius:  0px 20px 20px 20px;
	border-radius: 0 20px 20px 20px;*/
}

.text {
	display: block;
	padding: 10px 0 20px 10px;
	font-family: "Helvetica Neue", Arial;
	font-size: 1.5em;
	color: #fff;
}

.sender {
	margin-top: 9px;
	padding: 0 0 0 10px;
	font-family: "Helvetica Neue", Arial;
	font-style: italic;
	font-size: 1.0em;
	color: #fff;
}

/* p tag it self is a container within the top bar. */
p .topbarContainer {
	position: relative;
}

p .deleteIcon {
  position: absolute;
  top: 0px;
  right: 22px;
}

p .editIcon {
  position: absolute;
  top: 0px;
  right: 54px;
}

p .deleteIcon a {
	font-size: 1.4em;
	color: red;
	text-decoration: none;
}

p .editIcon a {
	font-size: 1.4em;
	color: #fff;
	text-decoration: none;
}

/*For date*/
.bottomBar p {
	color: #fff;
	padding: 0 0 5px 10px;
}
/*#messageInput {
	position: absolute;
	bottom : 0;
}*/

.messageView {
	width: 75%;
	border-radius: 20px;
	outline: none;
	resize: none;
	overflow: auto;
}

.edit {
	display: none;
}

.editing {
	display: block;
}

