/*ul.thumb li hover .mask {
	-webkit-transform:scale(1.1);
}

.thumbContainer {
	width: 273px;
	height: 293px;
	display: block;
	overflow: hidden;
}

.mask {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	poistion: absolute;
	left: 0;
	top: 0;
	width: 273px;
	height: 293px;
	z-index: 999;
}

.thumbContainer img {
	position: absolute;
	left: 1px;
	top: 1px;
	width: 271px;
	height: 291px;
	z-index: 990;
}*/

#menuBoard ul li {
	float: left;
	list-style-type: none;
}

.messageWindow {
	display: block;
	border: 1px solid #000;
	width: 600px;
	height: 300px;
	clear: both;
}