/* Mobile First */

* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	background-color: #202024;
}

html {
	with: 100%;
}

#container {
	position: relative;
}

#borderTop {
	position: relative;
	height: 5px;
	z-index: 9999;
	background-color: #ffa273;
}

.loader {
	-webkit-animation-duration: 1.8s;
	-moz-animation-duration: 1.8s;
	-ms-animation-duration: 1.8s;
	-o-animation-duration: 1.8s;
	animation-duration: 1.8s;
	-webkit-animation-name: loader;
	-moz-animation-name: loader;
	-ms-animation-name: loader;
	-o-animation-name: loader;
	animation-name: loader;
}

header {
	width: 100%;
	height: 100px;
	background-color: #202024;
}

.heading {
	width: 100%;
}

#portfolioHeading {
	border-top: 5px solid #2A2A31;
	border-bottom: 5px solid #2A2A31;
}

#menuIcon {
	margin-left: 15px;
}

.navHeading {
	position: relative;
	height: 50px;
	width: 100%;
	background-color: #202024;

}

.navHeading p {
	font: bold 1em "Orbitron-Light", Arial, sans-serif;
	position: relative;
	margin: 0;
	color: #fff;
	letter-spacing: 1px;
	text-align: center;
	padding-top: 15px;
}

.heading h1 {
	font: bold 4em "Orbitron-Light", Arial, sans-serif;
	position: relative;
	margin: 0;
	color: #fff;
	letter-spacing: 1px;
	text-align: center;
}

#portfolioBoard {
	width: 100%;
	min-width: 180px;
	margin: 0 auto;
	overflow: auto;
}

#portfolioMenu {
	width: 100%;
	margin: 0 auto;
}

#portfolioMenu ul {
	width: 100%;
	/* In combination with display: inline-block; on menuBoard ul li the line below replaces of float: left for li elements; */
	text-align: center;
	/*margin: 0 auto;*/
/*	border-top: 5px solid #2A2A31;
	border-bottom: 5px solid #2A2A31;*/
	/*overflow: auto;*/
}

#portfolioMenu ul li {
	/* In combination with text-align: center; on menuBoard ul the line below replaces of float: left; */
	display: inline-block;
	/*float: left;*/
	list-style-type: none;
	background-color: #202024;
	/*border-bottom: 1px solid #2A2A31;*/
	padding: 1%;
	width: 100px;
}

#portfolioMenu ul li p {
	color: #fff;
	font: 0.9em "Orbitron-Light", Arial, sans-serif;
}

main {
	width: 100%;
}

#portfolioAppsContent {
	width: 100%;
}

img .appIcon {
	display: block;
	margin: auto auto;
}

#menuBoard {
	position: absolute;
	top: 79px;
	left: 0;
	z-index: 9999;
	width: 0%;
	background-color: #202024;
	opacity: 0.97;
	border-bottom: 5px solid #2A2A31;
	overflow: hidden;
}

#menuBoard.keepDown {
	width: 100%;
}

.toggleDown {
	-webkit-animation-duration: 1.0s;
	-moz-animation-duration: 1.0s;
	-ms-animation-duration: 1.0s;
	-o-animation-duration: 1.0s;
	animation-duration: 1.0s;
	-webkit-animation-name: show;
	-moz-animation-name: show;
	-ms-animation-name: show;
	-o-animation-name: show;
	animation-name: show;
}

.toggleUp {
	-webkit-animation-duration: 1.0s;
	-moz-animation-duration: 1.0s;
	-ms-animation-duration: 1.0s;
	-o-animation-duration: 1.0s;
	animation-duration: 1.0s;
	-webkit-animation-name: hide;
	-moz-animation-name: hide;
	-ms-animation-name: hide;
	-o-animation-name: hide;
	animation-name: hide;
}

#menuBoard p {
	color: #fff;
	font: bold 1em "Orbitron-Light", Arial, sans-serif;
	margin-left: 25%;
}

#menu ul li {
	/* overrride the display: block to display: inline-block on wider screen */
	display: block;
	list-style-type: none;
	width: 100%;
	border-bottom-color: #fff;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

#menu ul li a {
	color: #3CC;
	font: bold 1em "Orbitron-Light", Arial, sans-serif;
	text-decoration: none;
}

@-webkit-keyframes loader {
	from {
		position: relative;
		height: 5px;
		z-index: 9999;
		background-color: transparent;
		width: 0;
	}
	to {
		position: relative;
		height: 5px;
		z-index: 9999;
		background-color: #ffa273;
		width: 100%;
	}
}

@-moz-keyframes loader {
	from {
		position: relative;
		height: 5px;
		z-index: 9999;
		background-color: transparent;
		width: 0;
	}
	to {
		position: relative;
		height: 5px;
		z-index: 9999;
		background-color: #ffa273;
		width: 100%;
	}
}

@keyframes loader {
	from {
		position: relative;
		height: 5px;
		z-index: 9999;
		background-color: transparent;
		width: 0;
	}
	to {
		position: relative;
		height: 5px;
		z-index: 9999;
		background-color: #ffa273;
		width: 100%;
	}
}

@-webkit-keyframes show {
	from {
		height: 0px;
		width: 100%;
		border-bottom: 5px solid #2A2A31;
		overflow: hidden;
	}
	to {
		height: 160px;
		width: 100%;
		border-bottom: 5px solid #2A2A31;
	}
}

@-moz-keyframes show {
	from {
		height: 0px;
		width: 100%;
		border-bottom: 5px solid #2A2A31;
		overflow: hidden;
	}
	to {
		height: 160px;
		width: 100%;
		border-bottom: 5px solid #2A2A31;
	}
}

@-ms-keyframes show {
	from {
		height: 0px;
		width: 100%;
		border-bottom: 5px solid #2A2A31;
		overflow: hidden;
	}
	to {
		height: 160px;
		width: 100%;
		border-bottom: 5px solid #2A2A31;
	}	
}

@-webkit-keyframes hide {
	from {
		height: 160px;
		width: 100%;
		border-bottom: 5px solid #2A2A31;
		overflow: hidden;
	}
	to {
		height: 0px;
		width: 100%;
		border-bottom: 5px solid #2A2A31;
	}
}

@-moz-keyframes hide {
	from {
		height: 160px;
		width: 100%;
		border-bottom: 5px solid #2A2A31;
		overflow: hidden;
	}
	to {
		height: 0px;
		width: 100%;
		border-bottom: 5px solid #2A2A31;
	}
}

@-ms-keyframes hide {
	from {
		height: 0px;
		width: 100%;
		border-bottom: 5px solid #2A2A31;
		overflow: hidden;
	}
	to {
		height: 160px;
		width: 100%;
		border-bottom: 5px solid #2A2A31;
	}	
}