<div id="contactForm">
	<h2>CONTACT ME</h2>
	<form>
		<label>First name</label>
		<input type="text" id="firstname" name="firstname" required>
		<span class="errorMsg firstname"></span>

		<label>Surname</label>
		<input type="text" id="surname" name="surname" required>
		<span class="errorMsg surname"></span>

		<label>Email</label>
		<input type="email" id="email" name="email" required>
		<span class="errorMsg email"></span>

		<label>Web Page</label>
		<input type="url" id="url" value="http://" name="webaddress" required>
		<span class="errorMsg webaddress"></span>

		<label>Comment (optional)</label>
		<textarea id="comment" placeholder="Send me a comment..." name="comment" ></textarea>

		<input type="submit" id="submitForm">
	</form>
</div>