
<!-- <script type="text/template" id="messageTemp"> -->
	<div class="topBar">
		<p class="sender">
			<%= sender %> says:
		</p>
		<p class="topbarContainer">
			<span class="deleteIcon">
				<!-- <img src="css/imgs/delete32.png" height=20 width=20 /> -->
				<a href="" class="fa fa-times"></a>
			</span>
			<span class="editIcon">
				<!-- <img src="css/imgs/edit32.png" height=20 width=20 /> -->
				<a href="" class="fa fa-edit"></a>
			</span>
		</p>
	</div>
	<div class="text">
		<%= text %>
	</div>
<!-- 	<textarea class="edit">
		<%= text %>
	</textarea> -->
	<div class="bottomBar">
		<hr class="carved" />
	</div>
<!-- </script> -->