<div id="myWork">
	<h1 class="mobileHeader">MY WORK</h1>
	<div id="textWrap">
		<div id="textIntro">
			<p class="intro">
				Sherief Badran is a web programmer who loves problem solving challenges.
			</p>
		</div>
		<p class="first">
			<span class="dropcap">I´m</span>
			<span class="startTrack">CURRENTLY A STUDENT</span>
			at Linneus University in Kalmar, Sweden. I´m studying web programming which is great fun. Right now I´m developing
			this portfolio application. I appreciate if you guys take some time to meet up in my chat and try the 
			shit out of it. If you find any bugs or just want to say hello, please go ahead and send me a comment in the contact form.
		</p>
	</div>
	<p></p>
</div>